/* header{
    display : flex;
    align-items: center;
    justify-content: space-between;
   margin: 1rem;
    border-bottom: 1px solid #0ac7fbcd;
}

li{
display: inline-block;
margin: 1rem;
cursor: pointer;

} */
.cart{

    display: flex;
  justify-content: flex-end;
  margin: 1rem;
}
